.center {
    width: 85%;
    margin: auto;
    padding: 12px;
    text-align: center;
}
.conatiner {
    padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

}
.todos-el{
    margin-left: 20%;
    padding: 7vh;
    margin-right: 20%;
}
@media only screen and (max-width: 600px) {
  .container {
    width: 85%;
  }
  .todos-el{
    margin-left: 10%;
    padding: 3%;
    margin-right: 10%;
}
}

@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }